@using Hooli.Models
@model List<Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="content-box">
            <h1>The Feed</h1>
            <div class="posts-orderby">
                <div class="container">
                    <p>Order posts by:</p>
                    <form role="form">
                        <label class="radio-inline">
                            <input type="radio" name="optradio">Time
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" checked="checked">Popularity
                        </label>
                    </form>
                </div>
            </div>
            <div class="posts-type">
                <button type="button" class="btn btn-link posts-type-button button-selected">
                    <span>People</span>
                </button>
                <button type="button" class="btn btn-link posts-type-button">
                    <span>Groups</span>
                </button>
            </div>
            @await Component.InvokeAsync("Feed")
        </div>
    </div>
</div>
