@using Hooli.Models
@model List<Post>
@{
    ViewBag.Title = "Home Page";
    bool groupView = false;
    bool timeView = true;
}

<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="content-box">
                <h1>Groups</h1>
                <div class="container image-wall">
                    <div class="row">
                        <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                            <div class="image-box" style="background: url(../../images/groups/group_cheese.jpg) center;"></div>
                        </div>
                        <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                            <div class="image-box" style="background: url(../../images/groups/group_movies.jpg) center;"></div>
                        </div>
                        <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                            <div class="image-box" style="background: url(../../images/groups/group_programming.jpg) center;"></div>
                        </div>
                        <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                            <div class="image-box" style="background: url(../../images/groups/group_cycling.jpg) center;"></div>
                        </div>
                        <div class="col-min-padding col-xs-8 col-sm-6 col-md-8">
                            <div class="image-box" style="background: url(../../images/groups/group_silicon.jpg) center;"></div>
                        </div>
                        <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                            <div class="image-box" style="background: url(../../images/groups/group_bitcoin.jpg) center;"></div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a asp-controller="Group" asp-action="Index">See all followed groups</a>
                </div>
            </div>
            <div class="content-box">
                <h1>People</h1>
                <div class="container image-wall">
                    <div class="row">
                        <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                            <div class="image-box"></div>
                        </div>
                        <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                            <div class="image-box"></div>
                        </div>
                        <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                            <div class="image-box"></div>
                        </div>
                        <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                            <div class="image-box"></div>
                        </div>
                        <div class="col-min-padding col-xs-8 col-sm-6 col-md-8">
                            <div class="image-box"></div>
                        </div>
                        <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                            <div class="image-box"></div>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <a asp-controller="People" asp-action="Index">See all followed people</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
            <div class="content-box">
                <h1>The Feed</h1>
                <div class="posts-orderby">
                    <button type="button" id="filter_by_time" class="btn btn-primary btn-2way btn-option" onclick="timeView='true'">
                        <span>New</span>
                    </button>
                    <button type="button" id="filter_by_popularity" class="btn btn-primary btn-2way btn-selected" onclick="timeView='false'">
                        <span>Top</span>
                    </button>
                </div>
                <div class="posts-type">
                    <button type="button" id="filter_by_people" class="btn btn-primary btn-2way btn-selected" onclick="groupView='false'">
                        <span>People</span>
                    </button>
                    <button type="button" id="filter_by_groups" class="btn btn-primary btn-2way btn-option" onclick="groupView='true'">
                        <span>Groups</span>
                    </button>
                </div>
                <div id="feed-content">
                    @await Component.InvokeAsync("Feed", timeView, groupView, "Front")

                </div>
            </div>
        </div>
</div>
