@using Hooli.Models
@model List<Post>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hooli</h1>
</div>

<ul class="row list-unstyled" id="album-list">
    @foreach (var p in Model)
    {
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
                <h4>@p.Title</h4>
                <h5>@p.Text</h5>
                <h5>@p.User.FirstName</h5>
                <h6>Upvotes: @p.UpVotes</h6>    
        </li>
    }
</ul>