@model List<ApplicationUser>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-4">
        <div class="content-box">
            <h1>Search filters</h1>
            <div class="row">
                <button type="button" class="btn btn-primary col-xs-3 btn-selected">
                    <span>All</span>
                </button>
                <button type="button" class="btn btn-primary col-xs-3 btn-option">
                    <span>Groups</span>
                </button>
                <button type="button" class="btn btn-primary col-xs-3 btn-option">
                    <span>People</span>
                </button>
                <button type="button" class="btn btn-primary col-xs-3 btn-option">
                    <span>Events</span>
                </button>
            </div>
        </div>
        <div class="content-box hidden-mobile">
            <h1>Groups you might find intersting</h1>
            <div class="container image-wall">
                <div class="row">
                    <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_cheese.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_movies.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_programming.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_cycling.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-8 col-sm-6 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_silicon.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_bitcoin.jpg) center / cover;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-box hidden-mobile">
            <h1>People you might find intersting</h1>
            <div class="container image-wall">
                <div class="row">
                    <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_cheese.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_movies.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_programming.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-8 col-sm-12 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_cycling.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-8 col-sm-6 col-md-8">
                        <div class="image-box" style="background: url(../images/groups/group_silicon.jpg) center / cover;"></div>
                    </div>
                    <div class="col-min-padding col-xs-4 col-sm-6 col-md-4">
                        <div class="image-box" style="background: url(../images/groups/group_bitcoin.jpg) center / cover;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="content-box">
            <h1>Search results</h1>
            <div class="row following-info-container">
             @foreach (var u in Model)
             {
                <div class="info-photo-container col-sm-12 col-md-6">
                    <div class="info-photo" style="background: url(../images/groups/group_silicon.jpg) center / cover;">
                        <button type="button" class="btn btn-primary btn-selected pull-right">
                            <span>Follow</span>
                        </button>
                        <div class="info-photo-shade">
                            <a href="#"><h1>@u.FirstName @u.LastName</h1></a>
                        </div>
                    </div>
                </div>
             }
            </div>
        </div>
    </div>
</div>