@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Followed People";
}
    <div class="row">
        <div class="col-md-4">
            
                @await Component.InvokeAsync("PeopleSuggestion", true)
                  </div>
        @await Component.InvokeAsync("People")
        
    </div>
