@model EditProfileViewModel
@{
    ViewBag.Title = "Edit Profile";
}

<h2>@ViewBag.Title.</h2>

div class="row">
<div class="col-lg-4 col-md-5 col-sm-6 col-xs-10 col-centered">
    <div class="content-box">
        <form asp-controller="Manage" asp-action="EditProfile" enctype="multipart/form-data" id="form_editprofile" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <fieldset>
                <input asp-for="DateOfBirth" type="date" class="form-control" id="dateofbirth" placeholder="DateOfBirth"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>

                <input asp-for="ProfilePicture" type="file" id="file" name="file" class="form-control" />
            </fieldset>

            <button type="submit" class="btn btn-primary btn-block btn-mtop" id="form_editprofile_button" value="Edit"/>Edit</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
