@{
    ViewBag.Title = "Edit Profile";
}

<h2>@ViewBag.Title.</h2>

<div class="edit-info-container margin-top padding-side">
    <form class="form-horizontal" id="edit_profile">
        <h2>Profile information</h2>
        <div class="form-group">
            <label for="first_name" class="col-sm-3 col-md-5 col-lg-4 control-label">First name</label>
            <div class="col-sm-9 col-md-7 col-lg-8">
                <input type="text" class="form-control full-width" id="first_name" value="Hörður">
            </div>
        </div>
        <div class="form-group">
            <label for="last_name" class="col-sm-3 col-md-5 col-lg-4 control-label">Last name</label>
            <div class="col-sm-9 col-md-7 col-lg-8">
                <input type="text" class="form-control full-width" id="last_name" value="Ragnarsson">
            </div>
        </div>
        <div class="form-group">
            <label for="date_birth" class="col-sm-3 col-md-5 col-lg-4 control-label">Date of birth</label>
            <div class="col-sm-9 col-md-7 col-lg-8">
                <input type="date" class="form-control full-width" id="date_birth" value="1992-04-05">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block margin-top">Save changes</button>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
