@model Hooli.Models.Post

@if (Model != null)
{
    <li>
        <br />
        <small><i><label title="New Posts!" style="color:red">New Posts!</label></i></small>
            <h4 id="feedTitle">@Model.Title</h4>
            <h5 id="feedText">@Model.Text</h5>
    </li>
}
