@using System.Security.Claims

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="nav navbar-nav">
            <li class="navbar-logout-button">
                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
            </li>
        </ul>
    </form>
}
else
{
    <a id="loginLink" asp-controller="Account" asp-action="Register">Sign up</a>
}
