body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: 'Rambla', sans-serif;
    font-size: 14px;
    background: url('../images/site_bg.jpg');
    background-repeat:round;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

main>.row {
    padding-top: 20px;
}

a {
    color: #333;
}

a:hover {
    color: #fd7e23;
    text-decoration: none;
}

p {
    color: #444;
}

.navbar-nav {
    min-height: 70px;    
}

.navbar-nav>li>a {
    line-height: 40px;
}

#navbar-logo-large {
    height: 40px;
}

#navbar-logo-large:hover {
    filter: brightness(1.1) contrast(1.2);
    -webkit-filter: brightness(1.1) contrast(1.2);
}

#navbar-logo-small {
    height: 40px;
    display: none;
}

#navbar-logo-small:hover {
    filter: brightness(1.1) contrast(1.2);
    -webkit-filter: brightness(1.1) contrast(1.2);
}

.navbar-logout-button {
    margin-left: 15px;
}

.navbar-profile-container {
    max-height: 70px;
    position: relative;
    perspective: 800px;
    margin-right: 95px;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
}

#navbar-profile-photo {
    width: 110px;
    height: 110px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: transform .5s;
    transform-style: preserve-3d;
    transition: transform .5s;
}
#navbar-profile-photo figure {
    display: block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #EEE;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#navbar-profile-photo .front {
    background: #333;
}

#navbar-profile-photo .back {
    background: #333;
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.back-content {
    height: 80px;
    width: 90px;
    margin: 0px auto;
    margin-top: 5px;
    overflow: hidden;
}

.back-content small,
.back-content strong {
    display: block;
    width: 100%;
    height: 20px
}

.back-content small {
    color: #DDD;
}

.back-content strong {
    height: 40px;
    font-size: 1.1em;
    margin-top: 5px;
    vertical-align: middle;
    overflow: hidden;
}

.back-content strong:hover {
    color: #fd7e23;
}
.back-content .link {
    color: #FFF;
    line-height: 1.1em;
    text-decoration: underline;
}
.back-content .link:hover {
    color: #fd7e23;
}

#navbar-profile-photo:hover {
    -webkit-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.visible-mobile {
    display: none;
}

.visible-xs {
    display: none;
}

.navbar-search {
    margin-top:20px;
    border: 0;
}

.navbar-search .form-group {
    min-width: 260px;
}

.navbar-search input,
.navbar-search button {
    height: 30px;
    border-radius: 0;
    display: block;
    float: left;
}

.navbar-search input {
    width: 220px;
}

.content-box {
    background: rgba(255,255,255,0.5);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content-box h1 {
    font-size: 1.6em;
    margin-top: 0px;
    padding-top: 20px;
}

.content-box h2 {
    font-size: 1.2em;
}

.content-box .container {
    width: 100%;
    padding: 0;
}

.content-box .row {
    width: 100%;
    margin: 0;
}

.col-min-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.image-box {
    height:110px;
    background: rgb(219, 219, 219);
    margin-bottom: 10px;
}


.posts-orderby {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 0.9em;
}

.posts-orderby p {
    margin: 0;
    text-align: right;
    font-weight: 700;
}

.posts-orderby button {
    display: inline;
    width: 50px;
}

.posts-type {
    width: 100%;
}

.post {
    border-top: 1px solid #DDD;
    width: 100%;
    min-height: 80px;
    clear: left;
}

.post-rating {
    margin-top:5px;
    height: 75px;
    text-align: center;
    float: left;
}

.vote {
    padding: 0;
    height: 15px;
    width: 100%;
    color: #fd7e23;
    font-size: 1.2em;
}

.vote:hover, .vote:active, .vote:focus, .vote.active, .open > .dropdown-toggle.vote {
    color: #fd7e23;
}

.btn-link-option {
    color: #333;
}

.post-rating-count {
    height: 20px;
    line-height: 30px;
    width: 100%;
}

.post-body {
    padding: 10px;
    float: left;
}

.post-body h2 {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-body-info {
    font-size: 0.9em;
}

.info-photo {
    position: relative;
    width: 100%;
    height: 160px;
    background-size: cover;
    background: #333;
    margin-bottom: 20px;
    color: #FFF;
    text-shadow: 0px 1px 5px #555;
    overflow: hidden;
}

a>.info-photo:hover {
    color: #EEE;
    filter: sepia(0.15) contrast(1.15);
   -webkit-filter: sepia(0.15) contrast(1.15);
}

.info-photo-shade {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}

.info-container>button {
    width: 100px;
    position: absolute;
    z-index: 20;
    top: 0;
    right: 15px;
}

.info-photo-user {
    height: 350px;
}

.info-photo h1 {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.interesting h1 {
    font-size: 1.1em;
    line-height: 1.0em;
    overflow: hidden;
}

.margin-b-min {
    margin-bottom: 5px;
}

.info-info p {
    line-height: 1.3em;
}

.following-people .info-photo {
    height: 320px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=date],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border-radius: 0;
    border: 1px solid #DDD;
    padding-left: 5px;
    text-align: left;
    background: rgba(255,255,255,0.9);
    outline: none;    
    height: 35px;
    margin-bottom: 5px;
}

textarea.form-control {
    border-radius: 0;
    border: 1px solid #DDD;
}

form input[type=email],
form input[type=password] {
    width: 100%;
    max-width: 100%;
}

.full-width {
    width: 100%;
    max-width: 100%;
}

form[id=form-signup] input[type=text] {
    width: 50%;
    float:left;
}

form input[type=checkbox],
form input[type=radio] {
    height: 12px;
}

#form-login span {
    font-weight: 400;
    font-size: 0.9em;
}

#form-login label {
    margin-bottom: 20px;
}

.form-login-forgotten {
    margin-top: 20px;
    font-size: 0.9em;
    font-weight: 700;
}

.form-seperator {
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
}

.edit-info-container .form-group {
    margin-bottom: 0;
}

#moderator-list,
#banned-list {
    padding-top:8px;
}

.view-post {
    padding-top: 10px;
}

.view-post>.post-rating {
    height: 60px;
    margin-top: 15px;
    margin-right: 15px;
}

.view-post>p {
    font-size: 1em;
}

.info-photo.comment {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-bottom: inherit;
    position: absolute;
    border: 1px solid #333;
}
.info-photo.comment:hover {
    opacity: 0.8;
}

.comment-container {
    margin-bottom: 10px;
}

.parent-comment-container>.parent-comment-container {
    margin-left: 40px;
}

.parent-comment-container
>.parent-comment-container
>.parent-comment-container
>.parent-comment-container {
    margin-left: 0;
}

.comment-body {
    margin-left: 40px;
}

.comment-info {
    font-size: 0.8em;
    margin-bottom: 0;
}

.comment-text {
    font-size: 1em;
    color: #333;
    line-height: 1.2em;
    margin-bottom: 0;
}

.photo-sm {
    height: 60px;
    width: 60px;
    float: left;
    margin-right: 10px;
    border: 2px solid #333;
}

.mod-controls {
    width: 100px;
    position: absolute;
    right: 20px;
    top: 5px;
}

.search-mobile {
    display: none;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 220px;
}

.search-mobile input[type=search] {
    width: 180px;
}

.shade-sm {
    width: 100%;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.slider.open {
	max-height: 700px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider {
    overflow: hidden;
	max-height: 0;
}

.fb-button {
    width: 100%;
    line-height: 35px;
    float: left;
    background-color: #3b5998;
    background-image: url('../images/fb_logo.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    border-color: #3b5998;
    color: #fff;
    margin-bottom: 20px;
    padding-left: 40px;
    text-shadow: none;
}

.btn {
    border: 0 none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary,
.btn-danger {
    border-radius: 0;
}

.btn-primary {
    background: #fd7e23;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #FF964B;
}

.btn-primary:focus {
    background: #fd7e23;    
}

.btn-hooli {
    color: #333;
}

.btn-hooli-link {
    color: #fd7e23;
    padding: 0;
    font-weight: bolder;
}

.btn-hooli-link:hover, .btn-hooli-link:focus, .btn-hooli-link:active, .btn-hooli-link.active, .open > .dropdown-toggle.btn-hooli-link {
    color: #FF964B;
}

.btn-hooli:hover, .btn-hooli:focus, .btn-hooli:active, .btn-hooli.active, .open > .dropdown-toggle.btn-hooli {
    color: #fd7e23;
    text-decoration: none;
}

.btn-option {
    background: #CCC;
    color: #333;    
}

.btn-option:focus {
    background: #CCC;
    color: #333;
}

.btn-selected {
    background: #fd7e23;
    color: #FFF;    
}

.btn-2way {
    width: 50%;
    float: left;
}

.btn-container {
    height: inherit;
}

.btn-mtop {
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn-edge {
    height: 35px;
    border-left: 0;
    position: absolute;
    right: 15px;
}

.btn-trans {
    opacity: 0.95;
}

.row .btn {
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.row .btn:last-of-type {
    border-right: none;
}

.fileinputs {
    position: relative;
    width: 100%;
}

.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
}

.fakefile input[type=button] {
    cursor: pointer;
    width: 100%;
}

.fileinputs input.file {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    width: 100%;
    cursor: pointer;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.padding-remove-sides {
    padding-left: 0;
    padding-right: 0;
}

.p-rm-s {
    padding-left: 0;
    padding-right: 0;
}


.padding-side {
    padding-left: 20px;
    padding-right: 20px;
}

.margin-top {
    margin-top: 20px;
}

.margin-top-sm {
    margin-top: 10px;
}

.margin-bottom-sm {
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-t-no {
    margin-top: 0;    
}

.margin-b-no {
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.sep-top {
    border-top: 1px solid #DDD;
}

.toast-success {
  background-color: #fd7e23;
}

footer {
    text-align: center;
}

@media (max-width: 991px) {
    .hidden-mobile {
        display:none !important;
    }
    .visible-mobile {
        display:inline !important;
    }
    .navbar-nav>li>a {
        line-height: 40px;
    }
    #navbar-logo-large {
        display: none;
    }
    #navbar-logo-small {
        display: block;
    }
    .image-box {
        height: 80px;
    }
}

@media (max-width: 767px) {
     .visible-xs {
        display:inline !important;
    }
    .navbar-nav>li>a {
        line-height: 20px;
    }
    .navbar-form {
        margin-top:0px;
    }
    .navbar-profile-container {
        clear: left;
    }
    #navbar-logo-large {
        display: block;
        height: 30px;
        margin-top: -5px;
    }
    #navbar-logo-small {
        display: none;
    }
    main {
        margin-top: -20px;
    }
    .image-box {
        height: 100px;
    }
    .hidden-xs {
        display: none !important;
    }
    .following-people .info-photo {
        height: 220px;
    }
    .search-mobile {
        display: inline;
        width: 320px;
    }
    .search-mobile input[type=search] {
        width: 280px;
    }
    .btn-primary:hover {
        background: #fd7e23;
    }
    .btn-option:hover {
        background: #CCC;
        color: #333;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

@media (max-width: 500px) {
    .search-mobile {
        width: 220px;
    }
    .search-mobile input[type=search] {
        width: 180px;
    }
}

@media (max-width: 390px) {
    .search-mobile {
        width: 140px;
    }
    .search-mobile input[type=search] {
        width: 100px;
    }
}

@media (min-width: 992px) {
    .image-box {
        height: 75px;
    }
    .following-people .info-photo {
        height: 220px;
    }
    .mod-controls {
        right: 25px;
        top: 10px;
    }
    .navbar-logout-button {
        margin-left: 60px;
    }
}

@media (min-width: 1200px) {
    .image-box {
        height: 95px;
    }
    .navbar-profile-container {
        margin-right: 120px;
    }
}