body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-family: 'Rambla', sans-serif;
    font-size: 14px;
    background: url('../images/site_bg.jpg');
    background-repeat:round;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

nav {
}

a {
    color: #333;
}

a:hover {
    color: #fd7e23;
    text-decoration: none;
}

.navbar-nav>li>a {
    line-height: 40px;
}

#navbar-logo-large {
    height: 40px;
}

#navbar-logo-small {
    height: 40px;
    display: none;
}

#navbar-profile {
    width:110px;
    border-radius: 50%;
    border: 4px solid white;
    margin-right: 18px  ;
}

#navbar-profile-photo{
    max-height: 70px;
}

#navbar-profile-photo>a>span {
    display: none;
}

.navbar-search {
    margin-top:20px;
    border: 0;
}

.navbar-search .form-group {
    min-width: 260px;
}

.navbar-search input,
.navbar-search button {
    height: 30px;
    border-radius: 0;
    display: block;
    float: left;
}

.navbar-search input {
    width: 220px;
}

.content-box {
    background: rgba(255,255,255,0.5);
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 100%;
    clear: both;
}

.content-box h1 {
    font-size: 1.6em;
    padding-top: 20px;
}

.content-box .container {
    width: 100%;
    padding: 0;
}

.content-box .row {
    width: 100%;
    margin: 0;
}

.content-box .col-sm-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.image-box {
    height:75px;
    background: rgb(219, 219, 219);
    margin-bottom: 10px;
}

.posts-orderby {
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 0.9em;
}

.posts-orderby p {
    margin: 0;
    text-align: right;
    font-weight: 700;
}

.posts-type {
    width: 100%;
}

.posts-type-button {
    height: 30px;
    width: 50%;
    background: rgba(221, 221, 221, 1);
    float: left;
    color: #333;
}

.posts-type-button:hover {
    text-decoration: none;
    background: rgba(255, 165, 0, 1);
}

.posts-type-button:focus {
    text-decoration: none;
}

.button-selected {
    background: rgba(255, 165, 0, 1);
}

.post {
    border-top: 1px solid #DDD;
    width: 100%;
    min-height: 80px;
    clear: left;
}

.post-rating {
    margin-top:5px;
    height: 75px;
    text-align: center;
    float: left;
}

.vote {
    padding: 0;
    height: 15px;
    width: 100%;
    color: #fd7e23;
    font-size: 1.2em;
}

.post-rating-count {
    height: 20px;
    line-height: 30px;
    width: 100%;
}

.post-body {
    padding: 10px;
    float: left;
}

.post-body h2 {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post-body-info {
    font-size: 0.9em;
}


.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
}



@media (max-width: 991px) {
    .hidden-mobile {
        display:none !important;
    }
    .visible-mobile {
        display:inline !important;
    }
    .navbar-nav>li>a {
        line-height: 40px;
    }
    .posts-orderby {
        top: 8px;
    }
    #navbar-logo-large {
        display: none;
    }
    #navbar-logo-small {
        display: block;
    }
}

@media (max-width: 767px) {
    .navbar-nav>li>a {
        line-height: 20px;
    }
    .navbar-form {
        margin-top:0px;
    }
    #navbar-profile-photo {
        clear: left;
    }
    #navbar-logo-large {
        display: block;
        height: 30px;
        margin-top: -5px;
    }
    #navbar-logo-small {
        display: none;
    }   
}

@media (min-width: 1200px) {
    #navbar-profile {
        margin-right: 53px;
    }
}